.DS_Store
node_modules
/dist
dist/*.html
dist/static/
src/translations.json
src/translations/*.json
locales/*/LC_MESSAGES/app.po~

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
