@import "./_variables.scss";

//Import Required Bootstrap stuff

@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-vue/src/index.scss';

//Custom stuff


.nav .nav-link.active {
    font-weight: $font-weight-bold;
    color: $shade-100;
    border-bottom: 4px $brand-2 solid;
}

#topsearch::placeholder {
    color: $brand-1;
}
#topsearch:placeholder-shown {
    text-align: center;
}
